#IDE
.idea/
.vscode/

#OSP
.osp/

#Composer
vendor/

#All Markdown Files
*.md

#Ignore .log files
tmp/*.log
!tmp/.gitkeep

#Ignore .txt cache files
tmp/cache/*.txt
!tmp/cache/.gitkeep

#Ignore uploaded files
public/uploads/*
!public/uploads/.gitkeep